* {
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(19, 89, 193);
    position: sticky;
    top: 0;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}
.logo-container {
    flex: 1;
}
.logo {
    font-size: 30px;
    color: #4dbf00;
}
.menu-container {
    flex: 6;
}
.menu-list {
    display: flex;
    list-style: none;
}
.menu-list-item {
    margin-right: 30px;
    cursor: pointer;
}
.menu-list-item.active {
    font-weight: bold;
}
.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.profile-text-container {
    margin: 0 20px;
}
  
.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
  
.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
  
.toggle-icon {
    color: goldenrod;
}
  
.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}
.sidebar {
    width: 300px;
    height: 100%;
    background-color: rgb(19, 89, 193);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 50px;
}

.film-list {
    list-style: none;
    display: block;
}
.film-list li {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.film-list li:hover {
    background-color: #4dbf00;
}
.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container {
    margin-left: 400px;
}
.movie-details {
    background: #c74646;
    padding: 20px;
    border-radius: 10px;
}
.movie-details img {
    width: 200px;
    border-radius: 10px;
}
.delete-button {
    background: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}